@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'gridstack/dist/gridstack.css';
@import 'gridstack/dist/gridstack-extra.css';
@import './theme.css';

/* Base styles */
body {
  background-color: var(--background-dark);
  color: var(--text-primary);
}

.last-blinking>.recharts-bar-rectangles>.recharts-bar-rectangle:last-child>path {
  animation: blink 1s infinite;
  fill: var(--chart-bar) !important;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

/* Widget styles */

.grid-stack-item-content {
  padding: 1rem;
  background-color: var(--background-light);
  color: var(--text-primary);
  border-radius: 1rem;
  border: 2px solid var(--border-light);
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text-primary);
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
}

.widget-header {
  font-size: 1.2rem;
  font-weight: 800;
  width: 100%;
  text-align: center;
  margin-top: 0rem;
  height: 4%;
  z-index: 999;
  overflow: visible;
}

.widget-content {
  font-size: 1.2rem;
  width: 100%;
  height: 100%;
  text-align: center;
}

.overview-widget {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.overview-subwidget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background-color: var(--background-highlight);
  color: var(--text-primary);
  border-radius: 1rem;
  width: 20rem;
  height: 100%;
  margin: 0 1rem;
}

.overview-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.overview-subwidget-subtitle {
  font-size: 1rem;
  font-weight: 800;
  color: var(--text-primary);
  margin: 0;
  padding: 0;
  background-color: var(--border-dark);
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  padding: 0.25rem;
  opacity: 100%;
}

.negative {
  background-color: var(--error);
}

.positive {
  background-color: var(--success);
}

.overview-subwidget-title {
  font-size: 1.2rem;
  font-weight: 800;
  width: 100%;
  text-align: left;
}

.overview-subwidget-value {
  font-size: 2.2rem;
  font-weight: 800;
  text-align: left;
}

.time,
.date {
  font-weight: 800;
}

.widget-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.widget-menu {
  position: fixed;
  width: 40%;
  background-color: var(--background-dark);
  border-radius: 8px;
  padding: 16px;
  z-index: 1000;
  color: var(--text-primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.widget-menu-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.shade {
  background-color: var(--shadow-dark);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.widget-menu-checkbox {
  background-color: var(--background-dark);
  border: 1px solid var(--border-light);
}

th {
  color: white !important;
  font-weight: 800 !important;
  font-size: 1.1rem;
  padding: .5rem;
  background-color: var(--background-dark) !important;
}

tbody {
  font-size: 1.1;
}

tbody>tr:nth-child(odd) {
  background-color: var(--background-highlight);
}

::-webkit-scrollbar {
  display: none;
}

.cancelled-po {
  background-color: var(--error-light) !important;
}

.received-po {
  background-color: var(--success-light) !important;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.timer-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
}

.timer-container>* {
  height: 2rem !important;
  width: 2rem !important;
}

.timer-container>div {
  display: flex;
  align-items: baseline;
  justify-content: end;
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  position: absolute;
}

.timer-container>div>svg {
  height: 1rem;
  width: 1rem;
}

.Toastify__toast-container {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  width: 100% !important;
}

.Toastify__toast {
  width: 25% !important;
}

@keyframes flashAnim {
  from {
    background-color: white;
  }

  to {
    background-color: transparent;
  }
}

.flash {
  animation: flashAnim .5s ease-out;
}